extends layout

block content
  h1 Config

  form(name='config-form')
    div
      label Set the location of the fhem server
      input(class='config-fhem-location', placeholder='e.g. http://localhost:8083', value=fhemLocation)
      button(type='submit') Send

    div(class='config-status')
